{{set . "title" "Home"}} {{template "header.html" .}}
<div>{{template "navbar.html" .}}</div>

<section class="fdb-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-5">
        <h1>Improving Lives Through Learning</h1>
        <p class="lead">
          By connecting students all over the world to the best instructors,
          Learnit is helping individuals reach their goals and pursue their
          dreams.
        </p>
      </div>
      <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
        <img alt="image" class="img-fluid" src="/public/img/shapes/2.svg" />
      </div>
    </div>
  </div>
</section>
<section
  class="fdb-block bg-dark"
  style="background-image: url(/public/img/hero/purple.svg)"
>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Popular topics for you</h1>
      </div>
    </div>

    <div class="row-70"></div>

    <div class="row text-center justify-content-sm-center no-gutters">
      <div
        class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0"
      >
        <div class="fdb-box fdb-touch">
          <img
            alt="image"
            class="fdb-icon"
            src="/public/img/icons/layout.svg"
          />
          <h3>Web Design</h3>
          <p>Far far away, behind the word mountains, far from the countries</p>
          <p class="mt-4">
            <a href="https://www.froala.com"
              >Learn More <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
      </div>
      <div
        class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0"
      >
        <div class="fdb-box fdb-touch">
          <img alt="image" class="fdb-icon" src="/public/img/icons/cloud.svg" />
          <h3>Cloud Computing</h3>
          <p>Separated they live in Bookmarksgrove right at the coast.</p>
          <p class="mt-4">
            <a href="https://www.froala.com"
              >Learn More <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
      </div>
      <div
        class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0"
      >
        <div class="fdb-box fdb-touch">
          <img
            alt="image"
            class="fdb-icon"
            src="/public/img/icons/layers.svg"
          />
          <h3>UI / UX</h3>
          <p>
            A small river named Duden flows by their place and supplies it with
          </p>
          <p class="mt-4">
            <a href="https://www.froala.com"
              >Learn More <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fdb-block">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1>Newest course</h1>
        <p class="lead">
          <a href="https://www.froala.com"
            >See all features <i class="fas fa-angle-right"></i
          ></a>
        </p>
      </div>
    </div>

    <div class="row text-center justify-content-center mt-5">
      <div class="col-10 col-sm-3">
        <img
          alt="image"
          class="img-fluid rounded"
          src="/public/img/hero/blue.svg"
        />
        <h3><strong>Course One</strong></h3>
      </div>
      <div class="col-10 col-sm-3 pt-5 pt-sm-0">
        <img
          alt="image"
          class="img-fluid rounded"
          src="/public/img/hero/red.svg"
        />
        <h3><strong>Course Two</strong></h3>
      </div>

      <div class="col-10 col-sm-3 pt-5 pt-sm-0">
        <img
          alt="image"
          class="img-fluid rounded"
          src="/public/img/hero/purple.svg"
        />
        <h3><strong>Course Three</strong></h3>
      </div>

      <div class="col-10 col-sm-3 pt-5 pt-sm-0">
        <img
          alt="image"
          class="img-fluid rounded"
          src="/public/img/hero/yellow.svg"
        />
        <h3><strong>Course Four</strong></h3>
      </div>
    </div>
  </div>
</section>
<section class="fdb-block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 m-md-auto ml-lg-0 col-lg-5">
        <img
          alt="image"
          class="img-fluid"
          src="/public/img/draws/group-chat.svg"
        />
      </div>
      <div
        class="col-12 col-md-10 col-lg-6 mt-4 mt-lg-0 ml-auto mr-auto ml-lg-auto text-left"
      >
        <div class="row">
          <div class="col">
            <h1>Subscribe</h1>
            <p class="lead">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter your email address"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="h4">* Leave your email address to be notified first.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{template "footer.html" .}}
