{{set . "title" "Home"}} {{template "header.html" .}}
<div>{{template "navbar.html" .}}</div>

<section
  class="fdb-block pb-0"
  style="background-image: url(/public/img/hero/red.svg)"
>
  <div class="container">
    <div class="row text-left justify-content-end">
      <div class="col">
        <h2 class="text-light">
          Complete Outlier Detection Algorithms A-Z: In Data Science
        </h2>
        <p class="lead text-light">
          Outlier Detection Algorithms in Data Science, Machine Learning, Deep
          Learning, Data Analysis, Statistics with Python
        </p>
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <div class="fdb-box rounded-bottom-0">
          <p class="lead">
            Deserunt ea dolore deserunt in occaecat nostrud. Voluptate ad
            officia culpa fugiat excepteur.
          </p>

          <p class="lead mt-4">
            <a class="btn btn-outline-primary" href="https://www.froala.com"
              >Visit Site</a
            >
            <a class="btn btn-outline-primary" href="https://www.froala.com"
              >Share</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{template "footer.html" .}}
